body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/whitey.png');
}

.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}
div.none,span.none
{
  display: none;
}

canvas
{
  border:1px black solid;
  cursor:crosshair;
  background:white;
}
#drawtools a
{
  width:25px;
  height:20px;
  border:1px #EEE solid;
  margin:5px;
  display:inline-block;
}

#red
{
  background-color:red;
}
#blue
{
  background-color:blue;
}
.none{display:none;}
#navlogin img{
  width:28px;
  height:28px;
  padding-right:5px;
  position: absolute;
  left: -25px;
  margin-top: -3px;
}

.fadeout
{
transition-property: opacity;
  transition-duration: 5s;
  opacity: 1;
}

.fadein
{
  transition-property: opacity;
  transition-duration: 5s;
  opacity: 0;
}

a.gamestart
{
  font-size: 24px;
  line-height: 24px;
  text-decoration:none;
  margin-bottom:4px;
  padding: 5px;
  color: #333;
  border: 1px solid transparent;
  overflow: hidden;
  display: block;
  height:50px;
  border-radius: 5px;
}
a.gamestart img
{
  width:50px;
  height:50px;
  float: left;
}

a.gamestart:hover
{
  text-decoration:none;
  background-image: linear-gradient(left , #E3E3E3 0%, #f5f5f5 77%);
  background-image: -webkit-linear-gradient(left , #E3E3E3 0%, #f5f5f5 77%);
  background-image: -o-linear-gradient(left , #E3E3E3 0%, #f5f5f5 77%);
  background-image: -moz-linear-gradient(left , #E3E3E3 0%, #f5f5f5 77%);
  background-image: -ms-linear-gradient(left , #E3E3E3 0%, #f5f5f5 77%);
  border: 1px solid #999;
  box-shadow: 3px 3px 15px #333;
}

.gamestart span
{
    display: block;
    margin: 5px 0 0 55px;
   transition:color .5s;
  -moz-transition:color .5s; /* Firefox 4 */
  -webkit-transition:color .5s; /* Safari and Chrome */
  -o-transition:color .5s; /* Opera */
}

a.gamestart:hover span{
  
  color: #000;
  top:-32px;
}

.startnewgame
{
  clear: both;
}